<!doctype html>
<html>
    <head>
        <title>Назва - Мої Книги</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://kit.fontawesome.com/999afff8dc.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
         
        {% if g.user %}
        
        <div style="max-width: 750px; margin: auto;">
        <form>
        <button formaction="{{ url_for('add_post') }}" id="add-quote-button" class="add-quote-button" style="margin: auto; display: block; margin-top: 10px;"><i class="fas fa-plus" style="margin: 5px; font-size: 0.9rem;"></i>Додати пост</button>
        </form>
          
          {% if posts.first() %}
            <ul class="posts" style="padding: 0px;">
                {% for post in posts|reverse %}
                <hr>
                    <li class="post" style="padding: 0px; list-style: none;">
                        <div style="display: flex; justify-content: space-between;">
                        <p><b>{{ post.title }}</b></p>
                        <form method="post">
                    <input name = "p_id" id = "p_id" style="display:none;" value = "{{post.id}}">    
                            
                    <button class="edit-delete-button delete-post" formaction="{{ url_for('delete_post', id=post.id) }}" ><i class="far fa-trash-alt" style="margin-right: 6px;"></i>delete</button>
                    </form>
                        </div>
                    <p style="text-align: justify;">{{ post.body }}</p>
                    <p style="text-align: right; color: darkgray; font-size: 13px;">{{ post.date }}</p>
                    </li>
                
                <style>
                button:active, button:focus {
                  outline: none;
                }
                button::-moz-focus-inner {
                  border: 0;
                }</style>
                {% endfor %}
            </ul>
        
          {% else %}
            <div style="margin-top: 20px; text-align: center;">У Вас поки що немає власних публікацій.</div>
          {% endif %} 
          
        {% else %}
          <div>Увійдіть в аккаунт, щоб побачити свої пости.</div>
        {% endif %} 
            
        </div>
        
    </body>
</html>